#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 22px;
  width: 112px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 22px;
  width: 112px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Line_11 {
  stroke-width: 2px;
  stroke: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Line_11 {
  stroke-width: 2px;
  stroke: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Panel_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EEEEEE;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EEEEEE;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EEEEEE;
  border-radius: 12px 12px 12px 12px;
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Rectangle_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 21px 21px 21px 21px;
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Line_9 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Line_9 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Circle_11 {
  stroke-width: 4px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Circle_10 {
  stroke-width: 4px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Rectangle_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Line_4 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Line_4 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Rectangle_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 19px 19px 19px 19px;
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Line_12 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Line_12 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Circle_12 {
  stroke-width: 4px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Circle_13 {
  stroke-width: 4px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Rectangle_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Text_39 {
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Text_42 {
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Text_43 {
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Text_44 {
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Text_45 {
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Line_5 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Line_5 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Button_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #ACBED8;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #ACBED8;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #ACBED8;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #ACBED8;
  border-radius: 5px 5px 5px 5px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  height: 26px;
  width: 134px;
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Category_3-options {
  background-color: #FFFFFF;
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Category_5-options {
  background-color: #FFFFFF;
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Category_6-options {
  background-color: #FFFFFF;
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Text_46 {
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 21px 21px 21px 21px;
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Line_2 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Line_2 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Line_7 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Line_7 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Circle_6 {
  stroke-width: 4px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Circle_7 {
  stroke-width: 4px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Rectangle_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 21px 21px 21px 21px;
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Line_19 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Line_19 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Circle_14 {
  stroke-width: 4px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Circle_15 {
  stroke-width: 4px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Line_3 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Line_3 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Line_10 {
  stroke-width: 2px;
  stroke: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Line_10 {
  stroke-width: 2px;
  stroke: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Menu_items_2 {
  border-collapse: separate;
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Menu_items_4 {
  border-collapse: separate;
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Category_8-options {
  background-color: #FFFFFF;
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Main_menu {
  border-collapse: separate;
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Line_1 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Line_1 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Line_6 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Line_6 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Line_13 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Line_13 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Line_14 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Line_14 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Line_15 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Line_15 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Line_16 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Line_16 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Line_17 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 #s-Line_17 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-b2e1fa70-349b-465c-a14b-1be22a4591a7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}