#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Rectangle_16 {
  -ms-transform: rotate(0.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Category_8-options {
  background-color: #FFFFFF;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Main_menu {
  border-collapse: separate;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Menu_items_2 {
  border-collapse: separate;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Menu_items_4 {
  border-collapse: separate;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Line_1 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Line_1 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Line_2 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Line_2 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Line_3 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Line_3 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Line_4 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Line_4 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Line_5 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Line_5 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Line_7 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Line_7 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Line_8 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Line_8 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Rectangle_13 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=59);
  filter: alpha(opacity=59);
  -ms-transform: rotate(0.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Rectangle_17 {
  -ms-transform: rotate(0.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Button_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #ACBED8;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #ACBED8;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #ACBED8;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #ACBED8;
  border-radius: 6px 6px 6px 6px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  height: 27px;
  width: 71px;
  -ms-transform: rotate(0.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Rectangle_18 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=59);
  filter: alpha(opacity=59);
  -ms-transform: rotate(0.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Category_10-options {
  background-color: #FFFFFF;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Category_11-options {
  background-color: #FFFFFF;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Rectangle_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=59);
  filter: alpha(opacity=59);
  -ms-transform: rotate(0.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Rectangle_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=59);
  filter: alpha(opacity=59);
  -ms-transform: rotate(0.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Rectangle_12 {
  -ms-transform: rotate(0.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Rectangle_14 {
  -ms-transform: rotate(0.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Rectangle_15 {
  -ms-transform: rotate(0.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Button_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #ACBED8;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #ACBED8;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #ACBED8;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #ACBED8;
  border-radius: 6px 6px 6px 6px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  height: 32px;
  width: 133px;
  -ms-transform: rotate(0.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=59);
  filter: alpha(opacity=59);
  -ms-transform: rotate(0.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Button_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #ACBED8;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #ACBED8;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #ACBED8;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #ACBED8;
  border-radius: 7px 7px 7px 7px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  height: 34px;
  width: 181px;
  -ms-transform: rotate(0.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Category_3-options {
  background-color: #FFFFFF;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Category_5-options {
  background-color: #FFFFFF;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Category_6-options {
  background-color: #FFFFFF;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=59);
  filter: alpha(opacity=59);
  -ms-transform: rotate(0.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Category_7-options {
  background-color: #FFFFFF;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Button_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #ACBED8;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #ACBED8;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #ACBED8;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #ACBED8;
  border-radius: 6px 6px 6px 6px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  height: 27px;
  width: 71px;
  -ms-transform: rotate(0.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=59);
  filter: alpha(opacity=59);
  -ms-transform: rotate(0.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Rectangle_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  filter: alpha(opacity=95);
  -ms-transform: rotate(0.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Rectangle_9 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  filter: alpha(opacity=95);
  -ms-transform: rotate(0.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Line_6 {
  stroke-width: 2px;
  stroke: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Line_6 {
  stroke-width: 2px;
  stroke: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}