#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Line_1 {
  rotation: 90.0;
  margin-left: 8px;
  margin-top: -9px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Line_2 {
  rotation: 90.0;
  margin-left: 8px;
  margin-top: -9px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Line_3 {
  rotation: 90.0;
  margin-left: 8px;
  margin-top: -9px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Line_4 {
  rotation: 90.0;
  margin-left: 8px;
  margin-top: -9px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Line_5 {
  rotation: 90.0;
  margin-left: 8px;
  margin-top: -9px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Line_7 {
  rotation: 90.0;
  margin-left: 8px;
  margin-top: -9px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Line_8 {
  rotation: 90.0;
  margin-left: 8px;
  margin-top: -9px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Rectangle_13 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=59) ;
  filter: alpha(opacity=59) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Button_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Rectangle_18 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=59) ;
  filter: alpha(opacity=59) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Rectangle_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=59) ;
  filter: alpha(opacity=59) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Rectangle_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=59) ;
  filter: alpha(opacity=59) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Button_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=59) ;
  filter: alpha(opacity=59) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Button_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=59) ;
  filter: alpha(opacity=59) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Button_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=59) ;
  filter: alpha(opacity=59) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Rectangle_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95) ;
  filter: alpha(opacity=95) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Rectangle_9 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95) ;
  filter: alpha(opacity=95) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f59703af-d6c7-442e-bf74-ed2f73529667 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}